---

import Layout from '../../layouts/Layout.astro'
import { getWorldRank , getCountryByCode} from '../../services/worldrank.js'
import MiniCard from '../../components/MiniCard.astro'
import InfoCard from '../../components/InfoCard.astro'
import FlagsCard from '../../components/FlagsCard.astro'


const { code } = Astro.params
const country = await getCountryByCode(code)

export async function getStaticPaths () {
    const data = await getWorldRank()

    return data?.map((country: any) => ({
        params: { code: country.cca2 }
    }))
}
---

<Layout title={country.name.common}>
    <main class="bg-[#1C1D1F] lg:relative rounded-0 lg:rounded-lg p-8 mx-0 lg:mx-[15%] -mt-[60px] mb-20 border-[1px] border-[#282B30] text-[#D2D5DA]">
        
        <header class="text-center relative">
            <img 
            src={country.flags.png} 
            alt={`Flag of ${country.name.common}`}
            class="rounded-xl w-auto h-[200px] mx-auto -mt-20 mb-4"
            >
            <h1 class="text-[32px] font-semibold">{country.name.common}</h1>
            <h2 class="text-[14px] font-medium">{country.name.official}</h2>
            <section class="flex gap-5 justify-evenly mt-8 mb-4 lg:mb-16">
                <MiniCard label="Population" value={country.population.toLocaleString()} />
                <MiniCard label="Area" value={country.area.toLocaleString()} />
            </section>
        </header>
        <a href="/" class="lg:absolute z-10 top-0 right-1 p-3 text-[#6C727F] font-semibold text-base w-full flex place-items-center justify-center lg:justify-end gap-2 mb-4 lg:mb-0">
            <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="24" height="24" viewBox="0 0 24 24" stroke-width="1.5" stroke="#6C727F" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                <path d="M9 21v-6a2 2 0 0 1 2 -2h2a2 2 0 0 1 2 2v6" />
            </svg>
            Homepage
        </a>
            <section>

                <InfoCard label="Capital" value={
                    country.capital ? 
                    country.capital.map(capital => capital).join(', ') :
                    "No capital"
                } /> 

                <InfoCard label="Subregion" value={
                    country.subregion ? 
                    country.subregion :
                    "No subregion"
                } />
                
                <InfoCard label="Language" value={

                    country.languages ? 
                    Object.values(country.languages).map(language => language).join(', ') :
                    "No language"
                
                } />
                <InfoCard label="Currencies" value={
                    country.currencies ? 
                    Object.values(country.currencies).map((currency) => currency.name).join(', ') :
                    "No currencies"
                
                }/>
              
                <InfoCard label="Continents" value={
                    country.continents.map(continent => continent).join(', ')
                } />

                {country.borders ? (<FlagsCard countries={country.borders} />) : (<InfoCard label="Neighbouring Countries" value={"No neighbouring countries"} />)}
  
                
            </section>
    </main>
</Layout>