---
import { getCountryByCode } from '../services/worldrank.js';
const { countries } = Astro.props;

const fetchData = async (countries) => {
  try {
    const borderCountries = await Promise.all(
      countries.map(async (countryCode) => {
        try {
          return await getCountryByCode(countryCode);
        } catch (error) {
          console.error(`Error fetching data for country ${countryCode}:`, error);
          return null;
        }
      })
    );
    return borderCountries;
  } catch (error) {
    console.error('Error fetching data for countries:', error);
    return null;
  }
};

const borderCountries = await fetchData(countries);
---
<hr class='border-1 border-[#282B30] -mx-8'/>
<article class="my-5 text-start">
    <h2 class="text-[#6C727F] font-semibold">Neighbouring Countries</h2>
    <div class="flex gap-4 my-5 flex-wrap">
        {
            borderCountries?.map((country) => {
             return (
                 <a href={`/countries/${country.cca2}`} class="flex flex-col justify-center items-center gap-2">
                    <div class="w-24 h-18">
                      <img src={country.flags.png} alt={`Flag of ${country.name.common}`} class="w-24 h-16 object-cover rounded-md">
                    </div>
                     
                     <p class="font-medium">{country.name.common}</p>
                 </a>
             );
             })
         }
    </div>
    
</article>